body{
	margin:0;	
}

#conte1{
	display:block;
	background-color:#7fffbb;
	height:50px;
	width:100%;
	border-radius:20px;
}
#menu{
	height:100%;
	width:100%;
	position:relative;
	background-color:yellow;
}
#menu ul{
float:left;
left:50%;
padding-top:15px;
margin-left:-60px;
position:relative;
}
#menu ul li {
margin-left:20px;
float:left;
list-style-type:none;
position:relative;
left:-50%;
}

#menu ul li a{
	text-align:center;
	padding-top:10px;
	display:inline-block;
	background-color:#16854a;
	height:30px;
	width:100px;
	color:black;
	text-decoration:none;
}
#menu ul li a:hover{
	color:white;
	background-color:#13703f;
}
#conte2{
	display:block;
	background-color:#7fffbb;
	height:50px;
	width:100%;
	border-radius:20px;
}

#bas{
	display:block;
	background-color:#7fffbb;
	margin: auto;
	width:800px;
	height:50px;
	border-radius:20px;
	
}
#bas{
	display:block;
	background-color:#7fffbb;
	margin: auto;
	width:800px;
	height:50px;
	border-radius:20px;
	
}